:root {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --bg: #F7F7FF;
    --dark-mode-bg: #32292F;
    --profile-bg: #386C0B;
    --dark-mode-profile: #CC5500;
    --info-bg: #F7F7FF;
    --profile-color: #F7F7FF;
    --info-color: #32292F;
    --highlight: #CC5500;

}


.fa-primary {
    color: var(--profile-bg);
}

.fa-secondary {
    color: var(--bg);
}

img {
    height: 12rem;
    min-width: 12rem;
    width: 12rem;
    border-radius: 100%;
}

svg {
    height: 2rem;
    width: 2rem;
}

html, body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    height: auto;
    width: 100vw;
}



b {
    color: var(--highlight);
}

/*.menu {
    height: 10vh;
    background: lightblue;
}*/

main {
    display: flex;
}

/* profile side */

.profile-container {
    padding: 1rem 0.5rem 1rem 0.5rem;
    color: var(--profile-color);
    height: auto;
    min-width: 20rem;
    width: 20rem;
    background-color: var(--profile-bg);
    text-align: center;
}

.profile-picture {
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;

}

.profile-job {
    color: var(--highlight);
    font-size: 1.5rem;
    font-weight: bolder;
}

.profile-title-container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 2.5rem;
    padding-top: 0.5rem;
}

.profile-title-text {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
    width: 75%;
    border-bottom: double 0.25rem var(--profile-color);
}

.profile-profile {
    text-align: justify;
    padding: 0 1.5rem 1rem 1rem;
}

.contact-item-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.contact-text-text {
    padding-left: 1rem;
    text-align: left;
}

.skills {
    padding: 2rem 0 1rem 0;
}

.skills-secondary {
    color: var(--highlight);
}

.skill-title {
    font-size: 1.2rem;
    text-align: left;
}

.skill-bar-container {
    height: 1.2rem;
    border: solid 3px var(--bg);
    border-radius: 5px;
    margin: .25rem 0 .25rem 0;
}

.fill {
    background: var(--highlight);
    height: 1rem;
}

.css {
    width: 98%;
}

.js {
    width: 86%;
}

.c {
    width: 91%;
}

.php {
    width: 78%;
}

.node {
    width: 84%;
}

.git {
    width: 92%;
}

/* info side */

ul {
    margin: 0;
}

.info-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background: var(--profile-bg);
}

.info-container {
    padding: 1rem;
    color: var(--info-color);
    height: auto;
    min-width: 30rem;
    width: 30rem;
    background: var(--info-bg);
}

.info-title-container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 1.2rem 0 1rem 0;
}

.info-title-text {
    font-weight: bolder;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: left;
    width: 80%;
    border-bottom: double 0.25rem var(--info-color);
    text-transform: capitalize;
}

.subtitle-heading-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.subtitle-heading-date {
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--profile-bg);
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.subtitle-heading-title {
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--profile-bg);
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.subtitle-heading-subtitle {
    font-style: italic;
    padding: 0rem 0rem 0.5rem 0.5rem;
}

.subtitle-list-text {
    font-size: 0.9rem;
    width: 80%;
}

.cap {
    height: 2.5rem;
    width: 2.5rem;
}

/* for tablet */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 53rem; 
    }

    .night-mode-container {
        display: none;
    }
    
    .download-button-container {
        display: none;
    }
}

/* for desktop */
@media only screen and (min-width: 600px) {
    main {
        display: flex;
        width: 53rem; 
        margin: 5vh 25vw 5vh 25vw;
        box-shadow: 0 0 5px 5px var(--info-color);
    }

    .night-mode-container {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20%;
        left: 77%;
        height: 5rem;
        width: 12rem;
        border-radius: 1rem;
        border: solid 0.5rem var(--info-color);
        background: var(--info-bg);
        text-decoration: none;
        user-select: none;

    }

    .night-mode {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
    }

    .night-mode-switch {
        display: flex;
        align-items: center;
        padding: 0 0.2rem;
        height: 60%;
        width: 50%;
        border-radius: 1.5rem;
        background: var(--info-color);
        cursor: pointer;
    }

    .night-mode-text {
        color: var(--info-color);
    }

    .switch-button {
        margin-left: 0%;
        height: 2.5rem;
        width: 2.5rem;
        background-color: var(--info-bg);
        border-radius: 100%;
        transition: margin-left 500ms;
    }

    .download-button-container {
        display: flex;
        align-items: center;
        position: fixed;
        top: 35%;
        left: 77%;
        height: 5rem;
        width: 12rem;
        border-radius: 1rem;
        border: solid 0.5rem var(--info-color);
        background: var(--info-bg);
        text-decoration: none;
        user-select: none;
        cursor: pointer;
    }

    .download-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;

    }

    .download-button-text {
        color: var(--info-color)
    }

    .download-arrow {
        color: var(--highlight);
    }

    .back-button-container {
        position: fixed;
        top: 35%;
        left: 77%;
        height: 3rem;
        width: 10rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background: red;
    }

    .back-button {

    }
}

/* for desktop */
@media only screen and (max-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .mobile-row1 {
        display: flex;
    }

    .profile-title-and-profile {
        padding: 0rem 1rem 1rem 1rem;
    }

    .mobile-row2 {
        display: flex;
        flex-direction: column;
    }

    .profile-contact-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-text-text {
        text-align: center;
    }

    .mobile-skills {
        display: flex;
        flex-direction: column;
    }

    .skills {
        padding: 0;
    }

    .profile-profile {
        padding: 0 0.5rem 0 0.5rem;
    }

    .info-container {
        width: auto;
        min-width: 0;
    }
}