:root {
    font-size: 16px;

    --a-red: #FF0505;
    --a-black: #000000;
    --a-yellow: #FBFB00;
    --a-grey: #A1A1A1;
    --a-blue: #0D00A4;

}

body {
    background: white;
    color: black;
    margin: 0;
}

img {
    max-width: 75%;
    max-height: 75%;
}

.home-peaks {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url('svg/home-peaks.svg');

    display: flex;
    flex-direction: column;
    align-items: center;
}

.face-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 75%;
    width: 90%;
    justify-content: center;
}

.face-home {
    display: flex;
    flex-direction: column;
    flex: 1 0 480px;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;

}

.face-text {
    display:block;
    align-items: center;
    text-align: center;
    color: white;
    max-width: 80%;
}

.home-image {
    background: radial-gradient(circle, rgba(161,161,161,1) 0%, rgba(0,0,0,1) 42%);
}

/* this allows manipulation of the scrollbar */

/* width of scrollbar */
body::-webkit-scrollbar {
    width: .3rem;
}

/* color behind scrollbar */
body::-webkit-scrollbar-track {
    background: black;
}

/* color of scrollbarthumb */
body::-webkit-scrollbar-thumb {
    background: var(--a-blue);
}

main {
    margin-left: 5rem;
}

.navbar {
    position: fixed;
    border-right: #0D00A4 double .25rem;
    background-color: var(--a-black);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0;
    height: 5rem;
    color: var(--a-grey);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);

}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--a-black);
}

.link-text {
    display: none;
    margin: 2rem;
}

.nav-link svg {
    min-width: 2rem;
    max-height: 2rem;
    position: left;
    margin: 0 1rem;
}

.svg-home .fa-primary {
    color: var(--a-red);
    transition: var(--transition-speed);
}

.svg-about .fa-primary {
    color: var(--a-red);
    transition: var(--transition-speed);
}

.svg-projects .fa-secondary {
    color: var(--a-red);
    transition: var(--transition-speed);
}

.svg-contact .fa-primary {
    color: var(--a-red);
    transition: var(--transition-speed);
}

/* for da big screens */
@media only screen and (min-width: 600px) {
    .navbar {
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover .link-text {
        display: block;
        color: var(--a-yellow);
        transition: opacity var(--transition-speed);
    }

    .navbar:hover {
        width: 12rem;
    }
}

/* for phones */
@media only screen and (max-width: 600px) {
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
        border-bottom:#A1A1A1 3px solid;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
        padding-top: 5rem;
    }

    .face-container {
        margin-top: 4rem;
    }

    #home .home-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, rgba(251,251,0,1) 0%, rgba(0,0,0,1) 25%);
    }
    #about .about-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, rgba(251,251,0,1) 0%, rgba(0,0,0,1) 25%);
    }
    #projects .projects-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, rgba(251,251,0,1) 0%, rgba(0,0,0,1) 25%);
    }
    #contact .contact-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, rgba(251,251,0,1) 0%, rgba(0,0,0,1) 25%);
    }

}