:root {
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --bg: #32292F;
    --primary: #386C0B;
    --primary-hi: hsl(92, 82%, 38%);
    --secondary: #CC5500;
    --secondary-hi: hsl(25, 100%, 55%);
    --tertiary: #1f75fe;
    --light-primary: #a7f432;
    --light-secondary: #FFBF00;
    --light-tertiary: #40E0D0;

    --black: #32292F;
    --green: #386C0B;
    --orange: #CC5500;
    --blue: #1f75fe;
    --l-blue: #40E0D0;
    --l-green: #a7f432;
    --yellow: #FFBF00;
    --white: #F7F7FF;

    --breathe-speed: 20s;
    --primary-ribbon-height: span 4;
}

body {
    margin: 0;
    background-color: var(--bg);
}

img.fit {
    max-width: 100%;
    max-height: 100%;
    z-index: 100;
}

a {
    text-decoration: none;
}

h1.no-margin {
    margin: 0;
    padding: 0;
}

h2.no-margin {
    margin: 0;
    padding: 0;
}

.z-top {
    z-index: 100;
}


main {
    margin-left: 5rem;
}




/* home page css */
/* ------------------------------------ */

.front-page {
    background-color: var(--bg);
}

.image-ribbon {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 37vh;
    width: 100%;
}

.home-image {
    grid-column: 4 / span 5;
    grid-row: 3 / span 8;
    margin-left: 20%;
    z-index: 3;
}

.primary-ribbon {
    background: linear-gradient(45deg, var(--primary) 50%, var(--light-primary) 100%);
    border-top: solid var(--light-primary) .16rem;
    border-left: solid var(--light-primary) 1rem;
    border-radius: 1rem 0rem 0rem 0rem;
    grid-column: 3 / span 9;
    grid-row: 7 / span 4;
}

.hello-div {
    display: flex;
    color: var(--white);
    padding-left: 1rem;
}

.hello {
    margin-bottom: 2vh;
}

.text-ribbon {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 16vh;
    width: 100%;
}

.secondary-ribbon {
    color: var(--white);
    background: linear-gradient(214deg, rgba(204,85,0,1) 42%, rgba(255,191,0,1) 100%);
    border-bottom: solid var(--light-secondary) .16rem;
    border-right: solid var(--light-secondary) 1rem;
    border-radius: 0rem 0rem 1rem 0rem;
    grid-column: 1 / span 8;
    grid-row: 1 / span 10;
}

.home-name {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: var(--white);
    z-index: 3;
    height: inherit;
    width: inherit;
}

.first-name {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 2.4rem;
    grid-column: 1 / span 7;
    grid-row: 1;
    max-width: 100%;
    max-height: 100%;
}

.last-name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2.4rem;
    grid-column: 3 / span 7;
    grid-row: 2;
    max-width: 100%;
    max-height: 100%;
}

.job-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--tertiary);
}

.after-text {
    display: flex;
    color: var(--white);
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 1rem 1rem;
    margin: 0;
}

/* About Me Page css */
/*----------------------------------------*/

.image-slide {
    background: linear-gradient(45deg, rgba(50,41,47,1) 0%, rgba(204,85,0,1) 100%);
    height: 35vh;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 25vh;
    height: 20vh;
    transform-style: preserve-3d;
    animation: rotate 40s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: solid var(--white) .5rem;
    object-fit: fill;
    transition: 2s;
}

.about-me-title {
    background: linear-gradient(90deg, rgba(50,41,47,1) 0%, rgba(56,108,11,1) 100%);
    border-top: var(--white) solid .16rem;
    border-bottom: var(--white) solid .16rem;
    color: var(--white);
    display: flex;
    justify-content: center;
}

.about-me-container {
    color: var(--white);
    margin: 1rem;
    padding: .5rem;
    text-align: center;
    border: var(--tertiary) double;
    border-radius: 1rem;
}

/*----------------------------------------*/

/* Projects Page css */
/*----------------------------------------*/

.projects-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    margin-top: .5rem;
}

.code-ribbon {
    color: var(--white);
    background: linear-gradient(108deg, rgba(255,191,0,1) 0%, rgba(204,85,0,1) 32%, rgba(50,41,47,1) 48%);
    background-size: 300%;
    border: solid var(--light-secondary) .64rem;
}

.code-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}

.code-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.code-text {
    overflow: hidden;
}

.music-ribbon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    background: linear-gradient(45deg, rgba(31,117,254,1) 0%, rgba(64,224,208,1) 81%);
    background-position: center;
    background-size: 300%;
    border: solid var(--light-tertiary) .64rem;
}

.equalizer-container {
    display: flex;
    height: 100%;
    width: 100%;
    border-bottom: solid transparent 0.5rem;
    background-color: transparent;
    background-position: center;
    justify-content: center;
    padding-top: 2rem;
    animation: music-lights 1500ms infinite;
}

@keyframes music-lights {
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}

.equal-bar {
    align-self: flex-end;
    width: 1.5rem;
    height: 0%;
    margin-left: .25rem;
    margin-right: .25rem;
    border-top: transparent solid .25rem;
    border-left: transparent solid .1rem;
    background: transparent;
}

.e1 {
    animation: equalizer-high 1s infinite ease-in-out;
}

.e2 {
    animation: equalizer-high 1s infinite ease-in-out;
    animation-delay: 80ms;
}

.e3 {
    animation: equalizer-high 1s infinite ;
    animation-delay: 300ms;
}

.e4 {
    animation: equalizer 1s infinite;
    animation-delay: 450ms;
}

.e5 {
    animation: equalizer 1s infinite;
    animation-delay: 250ms;
}

.e6 {
    animation: equalizer 1s infinite;
    animation-delay: 400ms;
}

.e7 {
    animation: equalizer-low 1s infinite;
    animation-delay: 300ms;
}

.e8 {
    animation: equalizer-low 1s infinite;
    animation-delay: 600ms;
}

.e9 {
    animation: equalizer-low 1s infinite;
    animation-delay: 800ms;
}

.e10 {
    animation: equalizer-low 1s infinite;
    animation-delay: 400ms;
}

@keyframes equalizer-high {
    0% {height: 40%}
    25% {height: 100%}
    33% {height: 75%}
    50% {height: 100%}
    77% {height: 65%}
    100% {height: 50%}
}

@keyframes equalizer {
    0% {height: 30%}
    25% {height: 80%}
    33% {height: 50%}
    50% {height: 80%}
    77% {height: 40%}
    100% {height: 20%}
}

@keyframes equalizer-low {
    0% {height: 0%}
    25% {height: 50%}
    33% {height: 25%}
    50% {height: 40%}
    77% {height: 10%}
    100% {height: 5%}
}

.music-ribbon:hover > .equalizer-container {
    border-bottom: solid var(--white) 0.5rem;
    border-radius: 1rem;
    background: linear-gradient(45deg, rgba(167,244,50,1) 0%, rgba(31,117,254,0) 50%, rgba(255,191,0,1) 99%);
    background-position: left;
    background-size: 300%;
    transform: scaleY(1);
}

.music-ribbon:hover > div .equal-bar {
    border-top: var(--white) solid .25rem;
    border-left: var(--white) solid .1rem;
    background: linear-gradient(333deg, var(--light-primary) 0%, var(--light-secondary) 88%);
}

.eco-ribbon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-weight: bold;
    padding: 0rem .5rem .5rem .5rem;
    height: 25vh;
    width: 50vw;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: var(--light-primary) 1rem solid;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-width: 1rem 1rem 1rem 0rem;

    color: var(--white);
    background: linear-gradient(45deg, var(--light-primary) 10%, var(--primary) 100%);
}

.eco-container {
    opacity: 0;
    grid-column: 1 / span 5;
    grid-row: 1 / span 5;
    height: calc(100% + 0.5rem);
    width: calc(100% + 0.5rem);
    background: linear-gradient(10deg, rgba(31,117,254,1) 8%, rgba(64,224,208,1) 36%, rgba(255,191,0,1) 49%, rgba(204,85,0,1) 53%, rgba(50,41,47,1) 71%);
    background-size: 475%;
    transition: opacity 1s;
    animation: eco-sunset 30s infinite ease-in-out;
}

.eco-title {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    justify-self: center;
    z-index: 1;
}

.eco-image {
    width: 50vw;
    height: calc(25vh + 0.5rem);
    animation: fade-plant 30s infinite ease-in;
    transition: transform 1500ms ease;
    transform-origin: bottom;

}

.eco-container:hover {
    opacity: 1;
}

@keyframes fade-plant {
    0% {
        filter: grayscale(0%);
        }
    50% {
        filter: grayscale(100%);
        }
    65% {
        filter: grayscale(100%);
        }
    100% {
        filter: grayscale(0%);
        }
}

@keyframes eco-sunset {
    0% {
        background-position: left;
    }
    15% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    75% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.left-ribbon {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0rem .5rem .5rem .5rem;
    height: 20vh;
    width: 70vw;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-width: 1rem 1rem 1rem 0rem;
}

.right-ribbon {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: end;
    padding: 0rem .5rem .5rem .5rem;
    height: 20vh;
    width: 70vw;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 1rem 0rem 1rem 1rem;
}


 

/*----------------------------------------*/


/* Contact page css */
/*----------------------------------------*/


.header {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1rem dotted var(--primary);
    padding: 1rem;
    margin-bottom: 1rem;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

.line-input {
    display: flex;
    height: 7vh;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.contact-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    border: 0.3rem solid var(--white);
    border-right: 0rem;
    background-color: var(--bg);
    margin-right: 0.16rem;
    border-radius: .5rem;
}

.valid-bottle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    width: 75%;
    border: var(--light-secondary) solid 0.15rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.valid-bottle-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    width: 75%;
    border: var(--light-secondary) solid 2px;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.email-input {
    border: 0.3rem solid var(--white);
    border-left: 0rem;
    padding-right: 0.5rem;
}

.message-form {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.message-input {
    width: 90%;
    height: 100%;
    color: white;
    border: 0.5rem solid var(--white);
    background-color: var(--bg);
    border-radius: .5rem;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.sub-button {
    color: white;
    font-weight: bold;
    background-color: var(--bg);
    border: solid .25rem var(--white);
    border-radius: 0.5rem;
    padding: 1rem 3rem 1rem 3rem;
}
/*----------------------------------------*/


/* nav bar css */
/*--------------------------------------*/
.navbar {
    position: fixed;
    z-index: 999;
    border-right: var(--white) double .50rem;
    background-color: var(--bg);
    transition: width 200ms ease;
    width: 100vw;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0;
    height: 5rem;
    color: var(--a-grey);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.3);
    transition: var(--transition-speed);

}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg);
}

.link-text {
    display: none;
    margin: 2rem;
}

.nav-link svg {
    min-width: 2rem;
    max-height: 2rem;
    position: left;
    margin: 0 1rem;
}

.svg-home .fa-primary {
    color: var(--secondary);
    transition: var(--transition-speed);
}

.svg-home .fa-secondary {
    color: var(--white);
    transition: var(--transition-speed);
}

.svg-about .fa-primary {
    color: var(--secondary);
    transition: var(--transition-speed);
}

.svg-about .fa-secondary {
    color: var(--white);
    transition: var(--transition-speed);
}

.svg-projects .fa-primary {
    color: var(--white);
    transition: var(--transition-speed);
}

.svg-projects .fa-secondary {
    color: var(--secondary);
    transition: var(--transition-speed);
}

.svg-contact .fa-primary {
    color: var(--secondary);
    transition: var(--transition-speed);
}

.svg-contact .fa-secondary {
    color: var(--white);
    transition: var(--transition-speed);
}
/*-------------------------------------------*/




/* media queries */

/* for da big screens */
@media only screen and (min-width: 600px) {
    .navbar {
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover .link-text {
        display: block;
        color: var(--light-primary);
        transition: opacity var(--transition-speed);
    }

    .navbar:hover {
        width: 12rem;
    }

    .image-ribbon {
        height: 60vh;
    }

    .home-image {
        grid-column: 8 / span 4;
        grid-row: 2 / span 7;
        margin: 0;
    }

    .primary-ribbon {
        grid-row: 5 / span 6;
        grid-column: 7 / span 5;
    }


    .text-ribbon {
        height: 34vh;
    }

    .secondary-ribbon {
        grid-row: 1 / span 10;
        grid-column: 1 / span 4;
    }

    .hello-div {
        margin-top: -30vh;
        font-size: 1.6rem;
    }

    .home-name {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }

    .first-name {
        font-size: 7rem;
        align-self: flex-start;
        padding-left: 2rem;
    }

    .last-name {
        font-size: 7rem;
        align-self: flex-end;
        padding-right: 2rem;
    }

    .job-title {
        height: 20vh;
        font-size: 2rem;
    }

    .after-text {
        font-size: 1.6rem;
    }

    .message-area {
        height: 0;
    }

    .project-box:hover {
        border: solid var(--light-secondary);
    }

    .image-slide {
        height: 50vh;
        padding-top: 9rem;
    }

    .slider {
        position: relative;
        width: 35vh;
        height: 30vh;
        transform-style: preserve-3d;
        animation: rotate 40s linear infinite;
    }

    .slider span {
        width: 75%;
    }

    .projects-container {
        margin: 0;
    }

    .left-ribbon {
        height: 25vh;
        width: 50vw;
    }

    .right-ribbon {
        height: 25vh;
        width: 50vw;
    }

    .code-ribbon {
        transition: background-position 1s;
    }

    .code-text {
        opacity: 0;
        padding-left: 1rem;
        animation: code-blink-desktop 1500ms linear infinite;
        transition: opacity 1s;
    }

    @keyframes code-blink-desktop {
        0% {color: var(--primary)}
        50% {color: var(--light-primary)}
        100% {color: var(--primary)}
    }

    .code-ribbon:hover {
        background-position: right;
    }

    .code-text:hover {
        opacity: 1;
    }

    .equalizer-container {
        transition: transform 1s ease;
        transform: scaleY(0);
        transform-origin: 0%;
    }

}

/* for phones */
@media only screen and (max-width: 600px) {
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
        border-bottom: var(--white) 3px solid;
    }

    .navbar-nav {        
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
        padding-top: 5rem;
    }

    .image-ribbon {
        background: radial-gradient(circle, rgba(64,224,208,1) 0%, rgba(31,117,254,1) 20%, rgba(50,41,47,1) 51%);
        background-position-x: 10vw;
    }

    @keyframes code-blackboard {
        0% {
            background-position: left;
        }
    
        10% {
            background-position: left;
        }
    
        15% {
            background-position: right;
        }
    
        85% {
            background-position: right;
        }
    
        90% {
            background-position: left;
        }
    
        100% {
            background-position: left;
        }
    }

    .code-ribbon {
    animation: code-blackboard 25s infinite;
    }

    .code-text {
        color: transparent;
        font-family: 'Courier New', Courier, monospace;
        font-size: .75rem;
        animation: code-blink 25s linear infinite;
        overflow: hidden;
    }
    
    @keyframes code-blink {
        0% {
            color: transparent;
        }
        14% {
            color: transparent;
        }
        16% {
            color: var(--light-primary);
        }
        25% {
            color: var(--primary);
        }
        30% {
            color: var(--light-primary);
        }
        35% {
            color: var(--primary);
        }
        40% {
            color: var(--light-primary);
        }
        45% {
            color: var(--primary);
        }
        50% {
            color: var(--light-primary);
        }
        55% {
            color: var(--primary);
        }
        60% {
            color: var(--light-primary);
        }
        65% {
            color: var(--primary);
        }
        70% {
            color: var(--light-primary);
        }
        75% {
            color: var(--primary);
        }
        80% {
            color: var(--light-primary);
        }
        83% {
            color: var(--primary);
        }
        87% {
            color: transparent;
        }
        100% {
            color: transparent;
        }
    }

  
    @keyframes swipe-right {
        0% {
            background-position: right;
        }
    
        10% {
            background-position: right;
        }
    
        15% {
            background-position: left;
        }

        43% {
            z-index: 1;
        }
    
        80% {
            z-index: 1;
        }

        85% {
            background-position: left;

        }
    
        90% {
            background-position: right;
        }
    
        100% {
            background-position: right;
        }
    }

    .equalizer-container {
        display: flex;
        height: 100%;
        width: 100%;
        border-bottom: solid var(--white) 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background: linear-gradient(90deg, rgba(167,244,50,1) 0%, rgba(255,191,0,0) 30%, rgba(239,194,17,0) 70%, rgba(255,191,0,1) 97%);
        background-position: center;
        background-size: 200%;
        justify-content: center;
        padding-top: 2rem;
        animation: music-lights 1s infinite;
        z-index: -1;
    }
    
    @keyframes music-lights {
        0% {background-position: left;}
        50% {background-position: right;}
        100% {background-position: left;}
    }
    
    .music-ribbon {
        background: linear-gradient(45deg, rgba(255,191,0,0) 49%, rgba(31,117,254,1) 50%, rgba(64,224,208,1) 97%);
        background-position: right;
        background-size: 300%;
        animation: swipe-right 25s infinite;
        animation-delay: 5s;
    }


    .equal-bar {
        align-self: flex-end;
        width: 1rem;
        height: 0%;
        margin-left: .25rem;
        margin-right: .25rem;
        border-top: var(--white) solid .25rem;
        border-left: var(--white) solid .1rem;
        background: linear-gradient(333deg, var(--light-primary) 0%, var(--light-secondary) 88%);
    }


    .eco-ribbon {
        height: 20vh;
        width: calc(70vw + 0.5rem);
        background: linear-gradient(45deg, var(--light-primary) 10%, var(--primary) 100%);
        padding-left: 0;
        animation: eco-ribbon 40s infinite;
    }

    .eco-container {
        opacity: 0;
        grid-column: 1 / span 5;
        grid-row: 1 / span 5;
        height: calc(100% + 0.5rem);
        width: calc(100% + 0.5rem);
        background: linear-gradient(10deg, rgba(31,117,254,1) 8%, rgba(64,224,208,1) 36%, rgba(255,191,0,1) 49%, rgba(204,85,0,1) 53%, rgba(50,41,47,1) 71%);
        background-size: 475%;
        animation: eco-sunset 30s infinite ease-in-out;
        animation-delay: 10s;
        z-index: -1;
    }
    
    .eco-title {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        background-color: transparent;
        justify-self: center;
        z-index: 1;
    }
    
    .eco-image {
        width: 70vw;
        height: calc(20vh + 0.5rem);
        animation: fade-plant 30s infinite ease-in;
        animation-delay: 10s;
    
    }

    @keyframes eco-ribbon {
        20% {
            z-index: 1;
        }

        100% {
            z-index: 0;
        }
    }

    @keyframes eco-sunset {
        0% {
            background-position: left;
            opacity: 0;
        }
        15% {
            background-position: left;
        }

        20% {
            opacity: 1;
        }
        50% {
            background-position: right;
        }
        75% {
            background-position: right;
            opacity: 0;
        }
        100% {
            background-position: left;
        }
    }


    #home .home-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, var(--light-secondary) 0%, var(--bg) 25%);
        
    }
    #about .about-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, var(--light-secondary) 0%, var(--bg) 25%);
    }
    #projects .projects-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, var(--light-secondary) 0%, var(--bg) 25%);
    }
    #contact .contact-icon {
        filter: grayscale(0%) opacity(1);
        background: linear-gradient(0deg, var(--light-secondary) 0%, var(--bg) 25%);
    }

}